.git/**
.github/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
test/**
out/**
**/*.ts
**/*.map
**/tsconfig.json
**/.eslintrc*
**/vitest.config.*
**/esbuild.config.*
specification.md
TASKS.md
FUTURE.md
.gitignore
.gitattributes
